/* CSS Reset */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Generali*/
body{
    background-color: rgb(209, 208, 208);
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
}

/*utilità*/

.container{
    max-width: 820px;
    margin: 0 auto;
    background-color: white;
    font-size: 20px;
    margin-bottom: 100px;
    border-radius: 0px 0px 10px 10px;
}



/*Header*/

.logo{
    background-color: white;
    padding-left: 25px;
    min-height: 100px;
}

#logo_boolean{
    height: 70px;
    width: auto;
    vertical-align: middle; 
    margin-top: 15px;
}

h1{
    font-size: 38px;
    font-weight: 900;
    vertical-align: middle;
    display: inline;
}

/*Barra input*/

.btn{
    padding:5px 10px;
    border-radius: 5px;
    border:1px solid transparent;
    font-size: 14px;
    text-decoration: none;
}

.btn-primary{
    color: white;
    background-color: dodgerblue;
    border-color: blue;
}

.btn-outline{
    color: grey;
    background-color: rgb(233, 233, 243);
    border-color: gray;
}

.head-container{
    border-radius: 5px 5px 0px 0px;
    padding:20px 40px;
    margin-top: 30px;
    margin-bottom: 2px;
}

/*Lista main*/

.lista-task{
    margin-left: 40px;
    padding-top:45px;
    line-height: 3rem;
}

.lista-today{
    margin-left: 40px;
    padding-top:45px;
    line-height: 3rem;
}

.lista-upcoming{
    margin-left: 40px;
    padding-top:45px;
    line-height: 3rem;
    padding-bottom: 10px;
}

/* Badge */

.badge{
    color:white;
    font-size: 10px;
    border-radius: 10px;
    padding: 5px 10px;
    vertical-align: middle;
}

.bg-blue{
    background-color: dodgerblue;
}

.bg-purple{
    background-color: purple;
}

.bg-green{
    background-color: lightgreen;
}

.bg-orange{
    background-color: orange;
}

.bg-pink{
    background-color: pink;
}

.bg-brown{
    background-color: brown;
}
.bg-yellow{
    background-color: yellow;
}

/*Pseudo Elements */

.task-item::before{
    border:1px solid currentColor;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    font-size: 10px;
    line-height: 15px;
    vertical-align: middle;
    text-align: center;
}

.task-item.done::before{
    content: "\2713";
    color:green
}

.task-item.undone::before{
    content: "\2A09";
    color:red
}